body {
  font-family: "Open Sans", sans-serif;
}
/* this is nav sec */

nav {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.pcolor {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 51px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* btn */

.pbtn {
  border-radius: 5px;
  background: #fd6e0a;

  border: 0px;
  color: var(--white-color, #fff);

  font-size: 20px;

  font-weight: 700;

  padding: 15px 35px;
}

/* header style */

.header {
  background: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.bannar {
  padding: 30px 30px 0px 150px;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.bannar .dp {
  width: 500px;
}
.bannar-greeting {
  font-size: 45px;

  color: #474747;
  margin-bottom: 0px;
}
.bannar-title {
  font-size: 85px;

  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.bannar-dis {
  margin-top: 0px;
}

.bannar-contant {
  max-width: 500px;
}

/* main section style  */

/* about section style  */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0px ;
}
.section-title {
  color: #181818;
  text-align: center;

  font-size: 35px;

  font-weight: 700;

}

.sec-des{

  color: #757575;
text-align: center;
font-size: 18px;

}

main{

  max-width: 1140px;
    margin: 0px auto;
    

}
  
main section{

  margin: 130px;


}

.about-info-container{

    display: flex;
     justify-content: space-around;

}
#what-i-do-description{

   padding: 30px 150px;

}

.skils-container{

   display: flex;
   gap: 24px;

}

.skill{

 padding: 30px;

  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description{

  color: #757575;

  font-size: 16px;

  font-weight: 400;
  line-height: 28px;


}
.resume-column-title{

  color:  #474747;
 
  font-size: 30px;

  font-weight: 700;
    

}
.resume-comntainer{

  display: flex;
    gap: 45px;


}

.resume-item-description , .resume-item-institute{


  color:  #757575;

  
}

.resume-item-title{

  color: #474747;

  font-size: 25px;

  font-weight: 700;
  


}

.download-cv{

   text-align: center;
    margin-top: 50px;

}
.section-dscription{


   text-align: center;

}
footer{

   display: flex;
   background: #FFF8F3;
   margin-top: 100px;
   gap: 100px;
    padding: 130px 200px ;

}
.footer-column{

width: 50%;

}

.contact input[type="text"], .contact input[type="email"], textarea{

display: block;

margin-bottom: 25px;
  padding: 18px 35px ;
  background: #FFF8F3;
  border-radius: 5px;
  background: #FFF;
  border: 0;
  width: 100%;

}
